<!-- <footer>
    <p>&copy; 2024 DISPO DOC. All rights reserved.</p>
</footer> -->

<footer class="text-white text-center py-3" >

    <!-- <p>Contact Us: 99445 85624 | dispogmail.com</p>
    <p>Location: NO 2/160, NADU STREET, MELNAGAR, ARNI TIRUVANNAMALAI DISTRICT - 632315</p>
    <iframe #mapIframe width="600" height="450" style="border:0;"></iframe> -->

    <div class="footer-container text-white py-5 px-3">
        <div class="container">
            <div class="row gy-4">
            <!-- About Section -->
            <div class="col-md-4">
                <h5 class="fw-bold mb-3" style="cursor: pointer;" (click)="scrollToSection('home')"><span><img src="assets/logo-footer.png" alt="Logo"></span>Dispo Doc</h5>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.</p> -->
                <p>A Brand build with care, precision and passion for healthcare by Doctor. Finally Dispodoc is Made by Doctor, Made for Doctors</p>
                <div class="social-icons mt-4">
                <i class="fab fa-facebook-f me-3"></i>
                <span class="divider">|</span>
                <i class="fab fa-instagram mx-3"></i>
                <span class="divider">|</span>
                <i class="fab fa-twitter mx-3"></i>
                <span class="divider">|</span>
                <i class="fab fa-youtube ms-3"></i>
                </div>
            </div>

            <!-- Contact Us -->
            <div class="col-md-4" id="contact">
                <h5 class="fw-bold mb-3">CONTACT US</h5>
                <!-- <p><i class="fas fa-phone-alt me-2"></i> 99445 85824</p> -->
                <p>
                    <a href="tel:9944585824" style="text-decoration: none; color: inherit;">
                      <i class="fas fa-phone-alt me-2"></i> 99445 85824
                    </a>
                  </p>
                <!-- <p><i class="fas fa-envelope me-2"></i> dispodocgmail.com</p> -->
                <p>
                    <a href="mailto:app.dispodoc@gmail.com" style="text-decoration: none; color: inherit;">
                      <i class="fas fa-envelope me-2"></i> {{mail}}
                    </a>
                  </p>
                <p><i class="fas fa-map-marker-alt me-2"></i> NO 2/160, NADU STREET, MELNAGAR, ARNI<br />
                TIRUVANNAMALAI DISTRICT 9944585824<br />
                632315
                </p>
            </div>

            <!-- Map Location -->
            <div class="col-md-4">
                <h5 class="fw-bold mb-3">MAP LOCATION</h5>
                <iframe #mapIframe width="100%" height="200" style="border:0;" allowfullscreen loading="lazy"></iframe>
            </div>
            </div>

            <hr class="mt-5 mb-3 text-white" />

            <div class="text-center small">
            <i class="far fa-copyright"></i> Copyright 2025. All Right Reserved.
            </div>
        </div>
    </div>



</footer>